body {
  text-align: center;
}

.board {
  table-layout: fixed;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  border-spacing: 0;
  margin: 0 auto;
}

.box {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  font-size: 3em;
  font-weight: bold;
}

.box:hover {
  background-color: lightblue;
}

.btn {
  width: 150px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  background-color: lightgrey;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 25px;
}

.btn:hover {
  border: 1px solid black;
}

.player-1 {
  background-color: lightgreen;
}

.player-2 {
  background-color: lightgrey;
}
